%% -*- erlang -*-
%% Config file for hex plugin hex_gpio application.
%%
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps,  [ {can, "1.3", {git, "https://github.com/tonyrog/can.git"}},
	  {lager, "3.2.2", {git, "https://github.com/basho/lager.git"}},
	  {hex, "1.2", {git, "https://github.com/tonyrog/hex.git"}}
	]}.
